// sass src/assets/sass/app.scss src/assets/css/app.css --watch

@import "./scss/variable.scss";
@import "./scss/reset.scss";

.contenner {
  position: relative;
  width: 620px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  padding: 20px;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  color: $text;

  &.dark {
    background: linear-gradient(90deg, #6c6f95, #1e0342);
    color: $secondary;
  }
  h1 {
    text-align: center;
  }
  .time-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    input {
      width: 25%;
      height: 3rem;
      padding: 0 1rem;
      margin: 1rem 0;
      transition: all 0.5s linear;
    }
    .hide {
      width: 100%;
    }
  }
  .content {
    position: relative;
    transition: all 0.5s linear;
    .capticals {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      font-weight: 600;
    }
    .temperature {
      margin: 1rem 0;
      text-align: center;
      .temperature-dec {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 2rem;
        border-radius: 3rem;
        background: rgba($color: $accent, $alpha: 0.6);
        height: 10rem;
        line-height: 10rem;
        p {
          font-size: 3.5rem;
          color: $text;
        }
      }
    }
    .temperature-short {
      margin-top: 1rem;
      p {
        font-size: 1.8rem;
      }
    }
    .range {
      display: flex;
      justify-content: space-between;
    }
    .box {
      position: absolute;
      bottom: -180px;
      left: -66px;
      padding: 20px 10px 30px 20px;
      width: 200px;
      height: 150px;
      border-radius: 60px 20px 10px 20px;
      box-shadow: 2px 1px 3px 1px rgba($color: $text, $alpha: 0.6);

      background-color: $primary;
      .box-sunset {
        margin: 2rem 0;
      }
    }
  }
  .toogle {
    position: relative;
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: $accent;
    width: 5rem;
    height: 2rem;
    border-radius: 99px;
    cursor: pointer;
    .ball {
      position: absolute;
      background-color: $text;
      left: 0;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      transition: all 0.2s linear;
    }
  }
  .active {
    .ball {
      left: 3rem;
    }
  }
}
.dark .content .temperature .temperature-dec p {
  color: #fff;
}

@media (max-width: 768px) {
  .contenner {
    width: 400px;
    .content {
      .box {
        margin: -2rem 1rem;
      }
    }
  }
}
